.nav {
  height: 99.5vh;
  position: fixed;
  border: #172353 solid 2px;
  width: 12vw;
  background-color: #172353;
  opacity: 0.9;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.541)
}

label {
  color: white;
  display: block;
  text-align: left;
  margin: 3px 0;
}

select {
  transition-duration: 0.3s;
  border: 3px solid black;

  &:hover {
    border: 3px solid #6CA6F9;
    transition-duration: 0.3s;
  }
}

.date {
  border-radius: 5px;
  width: 175px;
  transition-duration: 0.3s;
  border: 3px solid black;

  &:hover {
    transition-duration: 0.3s;
    border: 3px solid #6CA6F9;
  }
}

.filter-btn {
  border: 2px solid #4b9bff;
  color: #172353;
  border-radius: 10px;
  width: 175px;
  font-size: 14px;
  font-weight: bold;
  color: black;

  &:hover {
    background-color: #4b9bff;
    border-color: white;
    color: white;
  }

  &:active {
    background-color: black;
    transition-duration: 0s;
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }
}

select {
  width: 175px;
}