@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Oleo+Script');

.header {
  width: 100%;
  height: 15vh;
  width: 85vw;
  z-index: -1;
  position: fixed;
  left: 15vw;
  background-color: rgba(146, 146, 146, 0.7);
  background-image: url('../../assets/flag.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 0.452);
}

.logo-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  position: relative;
  top: -20px;
}

h1 {
  font-family: 'Black Ops One', 'Times New Roman', Times, serif;
  font-size: 4vw;
  color: #172353;
  margin-bottom: -12px;
  cursor: pointer;
  width: 50vw;
  text-shadow: 2px 2px 2px white, -2px -2px 2px white, 2px -2px 2px white, -2px 2px 2px white;
}

.red {
  color: rgb(201, 34, 45);
  margin-right: 10px;
}

.search-div {
  width: 100%;
}

.search-input {
  width: 60%;
  border: 2px solid #172353;
  margin: 10px 0 10px 10px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  border-right: solid black 1px;
  box-shadow: 1px 1px 3px white, -1px -1px 3px white;
}

button {
  height: 26px;
  border: 2px solid rgb(201, 34, 45);
  border-left: black solid 1px;
  border-radius: 0 10px 10px 0;
  color: rgb(201, 34, 45);
  position: relative;
  top: -1px;
  width: 80px;
  transition-duration: 0.3s;
  box-shadow: 1px 1px 3px white, -1px -1px 3px white;

  &:hover {
    background-color: rgb(201, 34, 45);
    color: white;
    transition-duration: 0.3s;
    border-color: #172353;
  }

  &:focus {
    outline: none;
  }
}

.grey {
  background-color: rgb(179, 179, 179);
  color: white;

  &:hover {
    background-color: rgb(179, 179, 179);
  }
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.flag {
  width: 4vw;
  position: relative;
  top: 10px;
}

.left-flag {
  transform: scaleX(-1);
}

.search-input {
  transition-duration: 0.3s;
  padding-left: 10px;
  
  &:focus {
    transform: scaleY(1.2);
    outline: none;
    transition-duration: 0.3s;
  }

  &:focus + button {
    transform: scale(1.2);
    transition-duration: 0.3s;
  }
}

.search-form button {
  &:active {
    background-color: black;
    color: white;
  }
}

.nav-btn {
  border: 4px solid #172353;
  border-radius: 5px;
  color: #172353;
  width: 80px;
  font-size: 10px;
  position: relative;
  top: 5px;
  height: 30px;
  width: 100px;
  font-weight: bold;

  &:active {
    background-color: black;
    transform: scale(0.9);
    transition-duration: 0s;
  }
}

.nav-left {
  border-radius: 20px 8px 8px 20px;
}

.nav-right {
  border-radius: 8px 20px 20px 8px;
}